@import url(https://fonts.googleapis.com/css?family=Gelasio:regular,italic,500,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700&display=swap);
@charset "UTF-8";
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 71.25rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=__title] {
  font-family: "Gelasio", serif;
  max-width: 374px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 43px;
  line-height: 140%;
}

[class*=__text] {
  font-family: "Roboto", sans-serif;
  max-width: 735px;
  margin-bottom: 50px;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.6;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  left: 0;
  font-family: Roboto;
  font-style: normal;
  color: #ffffff;
  padding-top: 32px;
  background: rgba(0, 0, 0, 0.5);
}
@media (max-width: 61.99875em) {
  .header {
    padding-top: 28px;
  }
}
@media (max-width: 47.99875em) {
  .header {
    padding-top: 22px;
  }
}
@media (max-width: 29.99875em) {
  .header {
    padding-top: 18px;
  }
}
.header__container {
  display: flex;
  align-items: center;
  height: 51px;
  gap: 10px;
}
@media (max-width: 47.99875em) {
  .header__container {
    gap: 20px;
    height: 51px;
  }
}
.header__logo {
  position: relative;
  z-index: 2;
  align-self: center;
  font-family: "Gelasio", serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  flex: 0 0 170px;
  width: 170px;
  text-shadow: 3px 3px 2px black;
}
@media (max-width: 61.99875em) {
  .header__logo {
    font-size: 22px;
    flex: 0 0 140px;
    width: 140px;
  }
}
@media (max-width: 29.99875em) {
  .header__logo {
    flex: 0 0 100px;
    width: 100px;
    line-height: 100%;
  }
}
.header__menu {
  flex: 1 1 auto;
}
.button {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 3;
  background: #c9453b;
  border-radius: 5px;
  flex: 0 0 170px;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 51px;
  animation-name: shake;
}
@media (max-width: 61.99875em) {
  .button {
    font-size: 14px;
    padding: 0 26px 0 26px;
    flex: 0 0 140px;
    width: 140px;
  }
}
@media (max-width: 29.99875em) {
  .button {
    flex: 0 0 100px;
    width: 100px;
    line-height: 100%;
  }
}
@keyframes shake {
  0%, 50%, 100% {
    transform: rotate(0deg);
  }
  10%, 30% {
    transform: rotate(-7deg);
  }
  20%, 40% {
    transform: rotate(7deg);
  }
}
.button:hover {
  animation: shake 1.2s ease-in-out infinite;
}

@media (max-width: 47.99875em) {
  .menu__body {
    position: fixed;
    overflow: auto;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    transition: left 0.3s ease 0s;
    background-color: #252836;
    padding-top: 120px;
    border-bottom: 1.875rem;
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
  .menu__body::before {
    content: "";
    top: 0;
    position: fixed;
    width: 100%;
    left: -100%;
    transition: left 0.3s ease 0s;
  }
}
@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .menu__body::before {
    height: 61px;
  }
}
@media (max-width: 47.99875em) {
  .menu-open .menu__body {
    left: 0;
  }
  .menu-open .menu__body::before {
    left: 0;
  }
}
.menu__list {
  display: flex;
  gap: 5px 50px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .menu__list {
    gap: 3px 30px;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    flex-direction: column;
    font-size: 2.1875rem;
  }
}
.menu__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  transition: color 0.3s ease 0s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
  }
  .icon-menu::before {
    top: 0px;
  }
  .icon-menu::after {
    bottom: 0px;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu span {
    transform: scale(0);
  }
  .menu-open .icon-menu::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .menu-open .icon-menu::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.footer__container {
  padding: 60px 20px 60px 20px;
}
@media (max-width: 61.99875em) {
  .footer__container {
    padding: 50px 40px 50px 40px;
  }
}
@media (max-width: 47.99875em) {
  .footer__container {
    padding: 30px 30px 30px 30px;
  }
}
@media (max-width: 29.99875em) {
  .footer__container {
    padding: 20px 20px 20px 20px;
    background: rgba(0, 0, 0, 0.1);
  }
}
.footer__logo {
  font-family: "Gelasio", serif;
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  flex: 0 0 170px;
  width: 170px;
  color: #242424;
  text-shadow: 1px 1px 2px #656565;
  margin: 0px 0px 20px 0px;
}
@media (max-width: 61.99875em) {
  .footer__logo {
    font-size: 22px;
    flex: 0 0 140px;
    width: 140px;
  }
}
@media (max-width: 29.99875em) {
  .footer__logo {
    flex: 0 0 100px;
    width: 100px;
    line-height: 100%;
  }
}
.footer__item {
  display: flex;
  gap: 40px;
}
@media (max-width: 61.99875em) {
  .footer__item {
    gap: 25px;
  }
}
@media (max-width: 47.99875em) {
  .footer__item {
    gap: 5px;
  }
}
@media (max-width: 29.99875em) {
  .footer__item {
    display: block;
    max-width: 100%;
  }
}
.footer__contact {
  flex: 0 1 50%;
}
@media (max-width: 29.99875em) {
  .footer__contact {
    margin-bottom: 20px;
  }
}
@media (max-width: 29.99875em) {
  .contact__body {
    display: flex;
    flex: 0 1 50%;
    gap: 20px;
    align-items: center;
  }
}
.contact__titl {
  padding: 10px 0px 10px 0px;
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  margin: 0px 0px 50px 0px;
}
@media (max-width: 29.99875em) {
  .contact__titl {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
  }
}
.contact__sety {
  display: flex;
  flex: 0 1 33.3333%;
  gap: 30px;
}
.subscript {
  flex: 0 1 50%;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}
.subscript__titl {
  padding: 0px 0px 0px 0px;
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  margin: 0px 0px 20px 0px;
}
.subscript .form__input {
  margin: 0px 20px 0px 0px;
  padding: 0px 0px 0px 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  opacity: 0.1;
  border: 1px solid #000000;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  height: 41px;
  max-width: 100%;
}
@media (max-width: 47.99875em) {
  .subscript .form__input {
    width: 130px;
    font-size: 14px;
    height: 30px;
    margin-right: 8px;
    line-height: 100%;
  }
}
@media (max-width: 29.99875em) {
  .subscript .form__input {
    width: 170px;
    background-color: #ffffff;
  }
}
.subscript .form__button {
  cursor: pointer;
  font-size: 16px;
  position: relative;
  z-index: 3;
  color: white;
  background: #c9453b;
  border-radius: 5px;
  flex: 0 0 100px;
  display: inline-flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 41px;
}
@media (max-width: 61.99875em) {
  .subscript .form__button {
    font-size: 14px;
    padding: 0 26px 0 26px;
    flex: 0 0 80px;
    width: 80px;
  }
}
@media (max-width: 47.99875em) {
  .subscript .form__button {
    height: 30px;
    flex: 0 0 60px;
    width: 60px;
    line-height: 100%;
  }
}

.page {
  background: #ffffff;
}
.page__railtrips {
  color: #ffffff;
  background: url("../img/jpg/fon2.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  top: -10%;
  left: 0;
  width: 100%;
  height: 110%;
}

.railtrips__container {
  padding: 300px 20px 244px 20px;
}
@media (max-width: 61.99875em) {
  .railtrips__container {
    padding: 180px 0px 184px 20px;
  }
}
@media (max-width: 47.99875em) {
  .railtrips__container {
    padding: 180px 15px 100px 15px;
  }
}
@media (max-width: 29.99875em) {
  .railtrips__container {
    padding: 120px 15px 40px 15px;
  }
}
.railtrips__container :not(:last-child) {
  padding-bottom: 40px;
}
@media (max-width: 61.99875em) {
  .railtrips__container :not(:last-child) {
    padding-bottom: 30px;
  }
}
@media (max-width: 47.99875em) {
  .railtrips__container :not(:last-child) {
    padding-bottom: 20px;
  }
}
.railtrips__title {
  max-width: 804px;
  flex: 1 1 804px;
  text-align: left;
  font-weight: bold;
  font-size: 65px;
  line-height: 120%;
}
@media (max-width: 61.99875em) {
  .railtrips__title {
    font-size: 53px;
    flex: 1 1 604px;
  }
}
@media (max-width: 47.99875em) {
  .railtrips__title {
    font-size: 45px;
    line-height: 120%;
  }
}
@media (max-width: 29.99875em) {
  .railtrips__title {
    font-size: 30px;
    line-height: 110%;
  }
}
.railtrips__text {
  max-width: 458px;
  flex: 1 1 458px;
  text-align: left;
  font-size: 18px;
  line-height: 160%;
  opacity: 0.6;
}
@media (max-width: 61.99875em) {
  .railtrips__text {
    font-size: 18px;
  }
}
@media (max-width: 47.99875em) {
  .railtrips__text {
    font-size: 16px;
    line-height: 140%;
    flex: 1 1 360px;
  }
}
@media (max-width: 29.99875em) {
  .railtrips__text {
    font-size: 14px;
    line-height: 120%;
  }
}
.page__popular {
  padding: 140px 0px 0px 0px;
}
@media (max-width: 61.99875em) {
  .page__popular {
    padding-top: 110px;
  }
}
@media (max-width: 47.99875em) {
  .page__popular {
    padding-top: 80px;
  }
}
@media (max-width: 29.99875em) {
  .page__popular {
    padding-top: 30px;
    background: rgba(0, 0, 0, 0.1);
  }
}

.popular__container {
  padding: 20px 0px 20px 0px;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card {
  display: flex;
  margin: 0px -15px 0px -15px;
  flex-wrap: wrap;
}
@media (max-width: 61.99875em) {
  .card {
    row-gap: 40px;
  }
}
@media (max-width: 47.99875em) {
  .card {
    display: block;
  }
  .card *:not(:last-child) {
    margin-bottom: 20px;
  }
}
.card__block {
  padding: 0px 15px 0px 15px;
  flex: 0 1 33.333%;
}
@media (max-width: 61.99875em) {
  .card__block {
    flex: 0 1 50%;
  }
}
.card__body {
  box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #ffffff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card__body:hover {
  box-shadow: 1px 3px 20px #aaa8a8;
  transform: translate(2deg);
}
@media (max-width: 47.99875em) {
  .card__body {
    display: grid;
    grid-template-columns: 331px 1fr;
    grid-template-rows: 100px 1fr;
    grid-template-areas: "image title" "image text";
    align-items: center;
  }
}
@media (max-width: 29.99875em) {
  .card__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.card__image {
  margin: 0px 0px 35px 0px;
  padding: 0px 0px 91.9444444% 0px;
  position: relative;
}
@media (max-width: 47.99875em) {
  .card__image {
    margin: 0px;
    grid-area: image;
    align-self: stretch;
    height: 100%;
  }
}
@media (max-width: 29.99875em) {
  .card__image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  object-position: center;
  border-radius: 10px;
}
.card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  text-transform: capitalize;
  text-align: center;
  margin: 0px 0px 10px 0px;
}
@media (max-width: 61.99875em) {
  .card__title {
    grid-area: title;
    align-self: center;
    margin: 0px;
  }
}
@media (max-width: 47.99875em) {
  .card__title {
    align-self: end;
  }
}
@media (max-width: 29.99875em) {
  .card__title {
    align-self: center;
  }
}
.card__text {
  font-size: 18px;
  line-height: 160%;
  text-align: center;
  opacity: 0.6;
  margin: 0px 0px 33px 0px;
}
@media (max-width: 61.99875em) {
  .card__text {
    padding: 0px 10px;
  }
}
@media (max-width: 47.99875em) {
  .card__text {
    grid-area: text;
    padding: 0px 20px;
    align-self: center;
  }
}
@media (max-width: 29.99875em) {
  .card__text {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    margin: 0px;
  }
}

.special-offers {
  padding-top: 140px;
}
@media (max-width: 61.99875em) {
  .special-offers {
    padding-top: 110px;
  }
}
@media (max-width: 47.99875em) {
  .special-offers {
    padding-top: 80px;
  }
}
@media (max-width: 29.99875em) {
  .special-offers {
    padding-top: 50px;
    background: rgba(0, 0, 0, 0.1);
  }
}
.special-offers__container {
  padding: 20px 0px 20px 0px;
}
.special-offers__title {
  margin: 0 auto 20px auto;
}
.special-offers__text {
  margin: 0 auto 50px auto;
}
.special-offers__menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px 0px;
}
@media (max-width: 61.99875em) {
  .special-offers__menu {
    gap: 20px;
  }
}
.special-offers__item {
  display: flex;
  flex: 0 1 33.333%;
  align-items: center;
  justify-content: center;
}
@media (max-width: 29.99875em) {
  .special-offers__item {
    flex: 0 1 100%;
  }
}
.special-offers__body {
  position: relative;
  display: flex;
  flex: 0 1 264px;
  flex-direction: column;
  justify-content: center;
}
.special-offers__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  padding: 15px 0px;
}
.special-offers__image-ibg {
  padding: 0px 0px 66.0306% 0px;
}
.special-offers__img {
  border-radius: 10px 10px 0px 0px;
  object-position: center;
}
.special-offers__img:hover {
  border-radius: 10px 10px 10px 10px;
  width: -webkit-calc(100%);
  width: calc(99% + 1px);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  transform: scale(1.1);
}
.special-offers__info {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
  border-radius: 0px 0px 10px 10px;
  padding: 25px 0px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
}
.special-offers__info p {
  line-height: 24px;
  width: 100%;
}
.special-offers__info span {
  font-style: italic;
  font-weight: 400;
}
.special-offers__icon {
  height: 14px;
  width: 11px;
}
.special-offers h6 {
  display: inline;
}

.page__news {
  padding: 130px 0px 142px 0px;
}
@media (max-width: 61.99875em) {
  .page__news {
    padding: 100px 0px 100px 0px;
  }
}
@media (max-width: 47.99875em) {
  .page__news {
    padding: 70px 0px 60px 0px;
  }
}
@media (max-width: 29.99875em) {
  .page__news {
    padding: 40px 0px 30px 0px;
    background: rgba(0, 0, 0, 0.1);
  }
}

.news__container {
  padding: 0px 20px 0px 20px;
}
.news__title {
  margin: 0 auto;
}
.news__text {
  margin: 0 auto;
}
.news__card {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.item {
  display: flex;
  gap: 30px;
  margin-top: 58px;
}
@media (max-width: 61.99875em) {
  .item {
    margin-top: 46px;
  }
}
@media (max-width: 47.99875em) {
  .item {
    display: block;
    margin-top: 30px;
    display: block;
  }
}
@media (max-width: 29.99875em) {
  .item {
    margin-top: 22px;
  }
}
.item__block-big:hover {
  border-radius: 10px;
  box-shadow: 1px 3px 20px #aaa8a8;
  transform: translate(2deg);
}
.item__block-big:hover .big-block__subtext {
  padding: 0px 10px 0px 10px;
}
.item__block-big:hover .big-block__subtitle {
  padding: 0px 10px 0px 10px;
}
.item__block-big:hover .big-block__nick {
  padding: 0px 10px 10px 10px;
}
.big-block {
  flex: 0 1 50%;
}
.big-block__body {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
@media (max-width: 47.99875em) {
  .big-block__body {
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 10px;
  }
}
.big-block__image {
  margin: 0px 0px 33px 0px;
  padding: 0px 0px 71.5315% 0px;
  position: relative;
}
@media (max-width: 47.99875em) {
  .big-block__image {
    margin: 0px 0px 20px 0px;
  }
}
@media (max-width: 29.99875em) {
  .big-block__image {
    margin: 0px 0px 14px 0px;
  }
}
.big-block__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  object-position: center;
  border-radius: 10px;
}
.big-block__subtitle {
  padding-top: 33px;
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
}
@media (max-width: 47.99875em) {
  .big-block__subtitle {
    margin-top: 0px;
    padding: 0px 15px 0px 15px;
  }
}
@media (max-width: 29.99875em) {
  .big-block__subtitle {
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    line-height: 130%;
    margin-top: 18px;
  }
}
.big-block__subtext {
  margin-top: 10px;
  max-width: 470px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
}
.big-block__subtext .block-big:hover .block-big__subtext {
  padding: 10px 0px 10px 0px;
  background-color: #000000;
}
@media (max-width: 61.99875em) {
  .big-block__subtext {
    font-size: 16px;
    line-height: 140%;
  }
}
@media (max-width: 47.99875em) {
  .big-block__subtext {
    padding: 0px 15px 0px 15px;
    font-size: 15px;
    line-height: 130%;
  }
}
@media (max-width: 29.99875em) {
  .big-block__subtext {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    line-height: 130%;
  }
}
.big-block__nick {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 61.99875em) {
  .big-block__nick {
    font-size: 16px;
    line-height: 130%;
    margin-bottom: 15px;
  }
}
@media (max-width: 47.99875em) {
  .big-block__nick {
    padding: 0px 15px 0px 15px;
    font-size: 14px;
    line-height: 120%;
  }
}
@media (max-width: 29.99875em) {
  .big-block__nick {
    padding: 0px 10px 0px 10px;
  }
}

.small-block {
  flex: 0 1 50%;
  flex-wrap: wrap;
}
@media (max-width: 47.99875em) {
  .small-block {
    margin-top: 20px;
  }
}
.small-block__body {
  display: flex;
  flex: 0 1 50%;
  gap: 27px;
  overflow: hidden;
  margin-bottom: 30px;
  align-items: center;
  gap: 27px;
  position: relative;
}
.small-block__body:last-child {
  margin-bottom: 0px;
}
.small-block__body:hover {
  box-shadow: 1px 3px 20px #aaa8a8;
  transform: translate(2deg);
  border-radius: 10px;
}
@media (max-width: 47.99875em) {
  .small-block__body {
    display: block;
    box-shadow: 0px 6px 35px rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #ffffff;
    border-radius: 10px;
  }
  .small-block__body:hover {
    box-shadow: 1px 3px 20px #aaa8a8;
    transform: translate(2deg);
  }
}
.small-block__card {
  display: flex;
  flex: 0 1 100%;
  flex-direction: column;
  position: relative;
}
@media (max-width: 47.99875em) {
  .small-block__card {
    margin: 0px 0px 20px 0px;
  }
}
.small-block__picture-ibg {
  padding: 0px 0px 76.4258555% 0px;
}
.small-block img {
  object-position: center;
  border-radius: 10px;
}
.small-block__info {
  flex: 0 1 100%;
}
.small-block__subtitle {
  font-family: "Gelasio", serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
}
@media (max-width: 61.99875em) {
  .small-block__subtitle {
    font-size: 18px;
    line-height: 130%;
  }
}
@media (max-width: 47.99875em) {
  .small-block__subtitle {
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    line-height: 120%;
  }
}
@media (max-width: 29.99875em) {
  .small-block__subtitle {
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    line-height: 130%;
    margin-top: 18px;
  }
}
.small-block__subtext {
  margin-top: 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  color: #000000;
  opacity: 0.6;
}
@media (max-width: 61.99875em) {
  .small-block__subtext {
    font-size: 16px;
    line-height: 120%;
    margin-top: 8px;
  }
}
@media (max-width: 47.99875em) {
  .small-block__subtext {
    padding: 0px 15px 0px 15px;
    font-size: 15px;
    line-height: 130%;
  }
}
@media (max-width: 29.99875em) {
  .small-block__subtext {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    line-height: 120%;
  }
}
.small-block__nick {
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #000000;
  opacity: 0.8;
}
@media (max-width: 47.99875em) {
  .small-block__nick {
    margin: 5px 0px 10px 0px;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    line-height: 120%;
  }
}
@media (max-width: 29.99875em) {
  .small-block__nick {
    padding: 0px 10px 0px 10px;
    font-size: 14px;
    line-height: 120%;
  }
}
